.header {
  background-image: url(/images/bg.png);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .logo svg {
    padding-top: 1.5rem;
    display: block;
    margin: auto;
    width: 40%;
  }
  h2 {
    padding: 0 2rem;
    margin: auto;
    margin-top: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: $white;
    min-width: 50vw;
  }
  .h2-gratis {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
}

.contact-form {
  margin: auto;
  width: 30vw;
  display: grid;
  grid-template-columns: auto 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "email CTA"
    "description description";
}
.email {
  grid-area: email;
  height: 3rem;
  border: none;
  border-radius: 3px;
}
.cta-button {
  cursor: pointer;
  margin-left: -3px;
  text-align: center;
  grid-area: CTA;
  background-color: $highlight;
  color: $headline;
  text-decoration: none;
  border: none;
  height: 3rem;
  font-weight: 600;
  border-radius: 3px;
}
form label {
  grid-area: description;
  color: $white;
  padding-top: 0.5rem;
}

form input {
  color: gray;
  padding: 1rem;
}
header p {
  color: $white;
  text-align: center;
  padding-bottom: 0.2rem;
  font-weight: 600;
}
.arrow-down {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
@media (max-width: 768px) {
  .header {
    background-image: url(/images/bg-mb.png);
    h2 {
      font-size: 1.8rem;
    }
  }
  #logo-white {
    width: 70%;
  }
  .contact-form {
    width: 80vw;
  }
}
